.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px 20px 15px;
  height: 30px;
  background: grey;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
}

.content {
  display: flex;
  padding: 20px 15px 20px 15px;
  background: pink;
}

.footer {
  display: flex;
  padding: 20px 15px 20px 15px;
  height: 60px;
  background: orange;
}
